@font-face {
  font-family: 'Droid Sans Mono';
  src: url('./fonts/DroidSansMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
	background-color: #141414;
	color: #F0F0F0;
  font-family: 'Droid Sans Mono';
}

body {
  margin: 0px auto;
  max-width: 1000px;
  line-height: 1.6;
  font-size: 18px;
  color: #aaa;
  padding: 0 10px;
}

button {
  background-color: cyan;
}

input {
	background-color: #141414;
  border-style: double;
  border-top: none;
  border-right: none;
  border-width: 2px;
}

.title {
  width: 100%;
  text-align: center;
}

.color-sample {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20vh;
  width: 15vw;
  height: 15vw;
  background-color: red;
  border-radius: 2em;
}

.color-input {
  position: absolute;
}
