html {
	background-color: #141414;
	color: #F0F0F0;
  font-family: 'Droid Sans Mono';
  height: 100%;
}

body {
  margin: 0px auto;
  max-width: 1000px;
  line-height: 1.6;
  font-size: 18px;
  color: #ffffff;
  padding: 0 10px;
}

button {
  background-color: cyan;
}

.title {
  width: 100%;
  text-align: center;
}

.color-sample {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20vh;
  width: 15vw;
  height: 15vw;
  background-color: red;
  border-radius: 2em;
}

.color-input {
  position: absolute;
}

#color-input {
  background-color: #141414;
  border-color: white;
  color: white;
}
